

#define PRAGMA_SUB(x) _Pragma(#x)
#define PRAGMA_HLS(x) PRAGMA_SUB(x)

#define rows 480
#define cols 640
#define KNOB_WINDOW_SIZE_X %1
#define inner_unroll1 %2
#define inner_unroll2 %3
#define outer_unroll %4
#define partition_factor %5
